@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 0.5rem 3rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 400;
}

.logo {
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-size: 1.8rem;
    z-index: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-list li:hover {
    border: 0.2rem solid whitesmoke;
    padding: 0.3rem;
    border-radius: 0.2rem;
    transition: 0.3s ease-in-out;
}

.line {
    background-color: whitesmoke;
    width: 2.3rem;
    height: 0.2rem;
    margin: 0.5rem;
    cursor: pointer;
}

.menu {
    display: none;
}

@media screen and (max-width: 600px) {
    ul {
        flex-direction: column;
        justify-content: center;
        position: absolute;
        background-color: blue;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 16rem;
        transition: left 0.3s ease;
    }

    .menu {
        display: block;
    }

    .navlist-active {
        left: 0; 
    }
}
